@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:  #0c1323;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  animation: fadeIn 1s ease-in;
}

.page-content {
  display: flex;
  /* gap: 1rem; */
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  margin-top: 5rem;
  margin-right: 20rem;
  padding-right: 3rem;
}

.bannerContent {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #37612a;
}

#content {
  margin-top: 5rem;
}

.collegeProjects {
  font-weight: bold;
  text-decoration: underline;
  font-size: x-large;
  color: #bbc7c6cd;

}


.projectItem li {
  padding: 7px;
  background-color: transparent;
  border-radius: 4px;
  transform: scale(1);
  /* opacity: 1; */
  transition: all 0.3s ease;
  color: #cacacaef;
}
.projectItem li:hover {
  padding: 7px;
  background-color: rgba(152, 192, 183, 0.048);
  border-radius: 4px;
  transform: scale(1.01); /*remove if growscale is not wanted*/
  transition: all 0.1s ease;
}



.nameTitle, h2 {
  color: #ffffff;
  white-space: nowrap;
}

.socials {
  display: flex;
  margin-top: 2rem;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



/* MEDIA QUERIES */

@media only screen and (min-width: 320px) {
    .page-content {
        flex-direction: column;
    }

    header {
        display: inline-block;

        width: 75%;
    }
}

@media only screen and (min-width: 900px) {
    .page-content {
        flex-direction: unset;
    }
}