@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:  #0c1323;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.page-content {
  display: flex;
  /* gap: 1rem; */
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  margin-top: 5rem;
  margin-right: 20rem;
  padding-right: 3rem;
}

.bannerContent {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #4d863b;
}

#content {
  margin-top: 5rem;
}

.collegeProjects {
  font-weight: bold;
  text-decoration: underline;
  font-size: x-large;

}

.projectItem li:hover {
  padding: 7px;
  background-color: rgba(152, 192, 183, 0.048);
  border-radius: 4px;
  transition: 0.3s;
}


.nameTitle, h2 {
  color: #96add4;
}

.socials {
  display: flex;
  margin-top: 2rem;

}