/* Extra small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    .page-content {
        flex-direction: column;
    }

    header {
        display: inline-block;
        /* background-color: darkgreen; */
        width: 75%;
    }
}

/* Small devices (phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .page-content {
        flex-direction: column;
    }

    header {
        display: inline-block;
        /* background-color: darkgreen; */
        width: 75%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .page-content {
        flex-direction: unset;
    } */
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 900px) {
    .page-content {
        flex-direction: unset;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Ultra large devices (4K displays, 1400px and up) */
@media only screen and (min-width: 1400px) {}